# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# Temporary files
*.tmp

# Outputs
/人员信息结果/*
/urls/*